#app {
  height: 100%;
}
html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #081833;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus {
    outline: none;
}
